@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-comic-cream font-body text-comic-dark;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-comic uppercase tracking-wider;
    }
}